/* Custom Properties */
:root {
    --main-color: #dfe9ea;
    /* al 100% de color */
    --main-color-opacity: rgb(223, 233, 234, 0.3);
    --second-words: #3e6e78;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.5;
    overflow: hidden;
    /* para quitar cualquier scrollbar o por si nos pasamos el tamaño de pantalla*/
    height: 200px;
}

header {
    height: 100vh;
    /* 100% del viewport */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    max-width: 40rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}

.header-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.header-video video {
    min-width: 100%;
    min-height: 100%;
}

.overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
    opacity: .20;
}

h2 {
    color: var(--main-color);
    font-family: 'Playfair Display', serif;
    ;
    font-size: 30px;
}

#btn {
    background-color: var(--main-color-opacity);
    border: none;
    font: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 5px;
    padding: 30px;
    cursor: pointer;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(245, 245, 245, 1);
    -moz-box-shadow: 0px 1px 10px 0px rgba(245, 245, 245, 1);
    box-shadow: 0px 1px 10px 0px rgba(245, 245, 245, 1);
}

img {
    margin-top: 50px;
    width: 50%;
}

article {
    z-index: 2;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#txtResult {
    color: var(--main-color);
    font-family: 'Roboto', sans-serif;
}